@use '../../styles/variables/' as *;
@use "../../styles/mixins/maths.scss" as maths;

.Base {
  font: {
    family: $font-family__primary;
  }

  & > * {
    margin: 0;
  }

  h1 {
    font: {
      size: maths.pixeltoRem($font-heading-l-font-size);
      variation-settings: $font-heading-l-variation;
    }
    line-height: maths.pixeltoRem($font-heading-l-line-height);
  }

  h2 {
    font: {
      size: maths.pixeltoRem($font-heading-m-font-size);
      variation-settings: $font-heading-m-variation;
    }
    line-height: maths.pixeltoRem($font-heading-m-line-height);
  }

  h3, h4, h5 {
    font: {
      size: maths.pixeltoRem($font-heading-s-font-size);
      variation-settings: $font-heading-s-variation;
    }
    line-height: maths.pixeltoRem($font-heading-s-line-height);
  }

  p {
    font: {
      size: maths.pixeltoRem($font-paragraph-m-font-size);
    }
    line-height: maths.pixeltoRem($font-paragraph-m-line-height);
  }

  &.variant-sm {
    h1 {
      font: {
        size: maths.pixeltoRem($font-heading-s-font-size);
        variation-settings: $font-heading-s-variation;
      }
      line-height: maths.pixeltoRem($font-heading-s-line-height);
    }

    p {
      font: {
        size: maths.pixeltoRem($font-paragraph-s-font-size);
      }
      line-height: maths.pixeltoRem($font-paragraph-s-line-height);
    }
  }

  &.variant-lg {
    p {
      font: {
        size: maths.pixeltoRem($font-paragraph-l-font-size);
      }
      line-height: maths.pixeltoRem($font-paragraph-l-line-height);
    }
  }

  small {
    font: {
      size: $font-size__s;
    }
    line-height: $line-height__s;
  }
}