@use '../../styles/variables/' as *;

.Base {
  font: {
    family: $font-family__primary;
  }

  & > * {
    margin: 0;
  }

  h1 {
    font: {
      size: $font-size__4xl;
      weight: $font-weight-3;
    }
    line-height: $line-height__3xl;
  }

  h2 {
    font: {
      size: $font-size__3xl;
      weight: $font-weight-3;
    }
    line-height: $line-height__2xl;
  }

  h3, h4, h5 {
    font: {
      size: $font-size__2xl;
      weight: $font-weight-3;
    }
    line-height: $line-height__xl;
  }

  p {
    font: {
      size: $font-size__m;
    }
    line-height: $line-height__m;
  }

  &.variant-sm {
    p {
      font: {
        size: $font-size__s;
      }
      line-height: $line-height__s;
    }
  }

  &.variant-lg {
    p {
      font: {
        size: $font-size__l;
      }
      line-height: $line-height__l;
    }
  }

  small {
    font: {
      size: $font-size__s;
    }
    line-height: $line-height__s;
  }
}