:root {
  --brand-impermo-red-light: #ed4954;
  --brand-impermo-red-primary: #e91b29;
  --brand-impermo-dark-red: #bc101c;
  --brand-impermo-yellow: #f9ee7f;
  --brand-impermo-light-grey: #c8c9ca;
  --brand-impermo-medium-grey: #474949;
  --brand-impermo-black: #222219;
  --brand-impermo-pastel: #cac6c4;
  --brand-impermo-blue: #808fa3;
  --brand-impermo-pink: #fff8f9;
  --brand-products-floor-collection: #7a8c9f;
  --brand-products-floor-classic: #afbac5;
  --brand-products-floor-basic: #d6dadf;
  --brand-products-terrace-collection: #829a89;
  --brand-products-terrace-classic: #aebbb1;
  --brand-products-terrace-basic: #d9ded9;
  --brand-materials-materials: #eca671;
  --brand-materials-parquet-collection: #b38d67;
  --brand-materials-parquet-classic: #ccb398;
  --brand-materials-parquet-basic: #e6dacd;
  --brand-materials-natural-rocks-collection: #b7aa98;
  --brand-materials-natural-rocks-classic: #d0c7bc;
  --brand-materials-natural-rocks-basic: #e9e4de;
  --brand-materials-tiles-collection: #848580;
  --brand-materials-tiles-classic: #aeacaa;
  --brand-materials-tiles-basic: #d7d6d4;
  --greyscale-0: #ffffff;
  --greyscale-10: #fafafa;
  --greyscale-20: #f6f6f6;
  --greyscale-30: #e0e0e0;
  --greyscale-40: #cac6c5;
  --greyscale-50: #afafaf;
  --greyscale-60: #878787;
  --greyscale-70: #6b6a6a;
  --greyscale-80: #535354;
  --greyscale-90: #3e3e3e;
  --greyscale-100: #282829;
  --wall-collection: #c7b3a4;
  --wall-classic: #dbcec4;
  --wall-basic: #eee6e3;
  --status-indicator-info: #0047b0;
  --status-indicator-promo: #f8ed8c;
  --status-indicator-success: #228822;
  --status-indicator-error: #9e0012;
  --status-indicator-warning: #b74707;
  --status-background-warning: #fdf6dd;
  --status-background-error: #ffe0e2;
  --status-background-success: #f4fff7;
  --status-background-information: #f0f9ff;
  --button-disabled-default: #ededed;
  --button-red-default: #e91b29;
  --button-red-hover: #bc101c;
  --button-black-default: #222219;
  --button-black-hover: #474949;
  --button-green-default: #228822;
  --button-green-hover: #1e7c1e;
  --text-disabled-default: #878787;
  --icon-black-default: #282829;
  --icon-white-default: #ffffff;
  --paragraph-indent-0: 0pxpx;
}
