:root {
  --color-primary-orange-900: #6d2a00;
  --color-primary-orange-800: #923800;
  --color-primary-orange-700: #c85000;
  --color-primary-orange-600: #db5400;
  --color-primary-orange-500-primary: #ff6000;
  --color-primary-orange-400: #ff7824;
  --color-primary-orange-300: #ff8f49;
  --color-primary-orange-200: #ffa56d;
  --color-primary-orange-150: #ffbc92;
  --color-primary-orange-100: #ffd2b6;
  --color-primary-orange-50: #ffe9db;
  --color-primary-orange-25: #fff4ed;
  --color-surface-text-black: #040313;
  --color-surface-grey-900: #1f2224;
  --color-surface-grey-800: #303539;
  --color-surface-grey-700: #4e545a;
  --color-surface-grey-600: #5e656c;
  --color-surface-grey-500: #6c757d;
  --color-surface-grey-400: #8b939a;
  --color-surface-grey-300: #b5babf;
  --color-surface-grey-200: #eaebed;
  --color-surface-grey-150: #f2f2f2;
  --color-surface-grey-100: #f4f5f6;
  --color-surface-grey-50: #fafafa;
  --color-surface-white: #ffffff;
  --color-system-success-500: #02c1b1;
  --color-system-success-50: #e6f9f8;
  --color-system-warning-500: #af730c;
  --color-system-warning-50: #feebcb;
  --color-system-error-500: #ab0000;
  --color-system-error-50: #f7e6e6;
  --color-system-info-500: #3182ce;
  --color-system-info-50: #d6e6f5;
  --color-system-info-25: #ecf6ff;
  --typography-desktop-headings-heading-2xl-font-size: 56px;
  --typography-desktop-headings-heading-2xl-text-decoration: none;
  --typography-desktop-headings-heading-2xl-font-family: Inter;
  --typography-desktop-headings-heading-2xl-font-weight: 700;
  --typography-desktop-headings-heading-2xl-font-style: normal;
  --typography-desktop-headings-heading-2xl-font-stretch: normal;
  --typography-desktop-headings-heading-2xl-letter-spacing: 0;
  --typography-desktop-headings-heading-2xl-line-height: 84px;
  --typography-desktop-headings-heading-2xl-paragraph-indent: 0;
  --typography-desktop-headings-heading-2xl-paragraph-spacing: 0;
  --typography-desktop-headings-heading-2xl-text-case: none;
  --typography-desktop-headings-heading-xl-font-size: 40px;
  --typography-desktop-headings-heading-xl-text-decoration: none;
  --typography-desktop-headings-heading-xl-font-family: Inter;
  --typography-desktop-headings-heading-xl-font-weight: 700;
  --typography-desktop-headings-heading-xl-font-style: normal;
  --typography-desktop-headings-heading-xl-font-stretch: normal;
  --typography-desktop-headings-heading-xl-letter-spacing: 0;
  --typography-desktop-headings-heading-xl-line-height: 60px;
  --typography-desktop-headings-heading-xl-paragraph-indent: 0;
  --typography-desktop-headings-heading-xl-paragraph-spacing: 0;
  --typography-desktop-headings-heading-xl-text-case: none;
  --typography-desktop-headings-heading-lg-font-size: 36px;
  --typography-desktop-headings-heading-lg-text-decoration: none;
  --typography-desktop-headings-heading-lg-font-family: Inter;
  --typography-desktop-headings-heading-lg-font-weight: 700;
  --typography-desktop-headings-heading-lg-font-style: normal;
  --typography-desktop-headings-heading-lg-font-stretch: normal;
  --typography-desktop-headings-heading-lg-letter-spacing: 0;
  --typography-desktop-headings-heading-lg-line-height: 54px;
  --typography-desktop-headings-heading-lg-paragraph-indent: 0;
  --typography-desktop-headings-heading-lg-paragraph-spacing: 0;
  --typography-desktop-headings-heading-lg-text-case: none;
  --typography-desktop-headings-heading-md-font-size: 24px;
  --typography-desktop-headings-heading-md-text-decoration: none;
  --typography-desktop-headings-heading-md-font-family: Inter;
  --typography-desktop-headings-heading-md-font-weight: 700;
  --typography-desktop-headings-heading-md-font-style: normal;
  --typography-desktop-headings-heading-md-font-stretch: normal;
  --typography-desktop-headings-heading-md-letter-spacing: 0;
  --typography-desktop-headings-heading-md-line-height: 36px;
  --typography-desktop-headings-heading-md-paragraph-indent: 0;
  --typography-desktop-headings-heading-md-paragraph-spacing: 0;
  --typography-desktop-headings-heading-md-text-case: none;
  --typography-desktop-headings-heading-sm-font-size: 18px;
  --typography-desktop-headings-heading-sm-text-decoration: none;
  --typography-desktop-headings-heading-sm-font-family: Inter;
  --typography-desktop-headings-heading-sm-font-weight: 700;
  --typography-desktop-headings-heading-sm-font-style: normal;
  --typography-desktop-headings-heading-sm-font-stretch: normal;
  --typography-desktop-headings-heading-sm-letter-spacing: 0;
  --typography-desktop-headings-heading-sm-line-height: 28px;
  --typography-desktop-headings-heading-sm-paragraph-indent: 0;
  --typography-desktop-headings-heading-sm-paragraph-spacing: 0;
  --typography-desktop-headings-heading-sm-text-case: none;
  --typography-desktop-headings-heading-xs-font-size: 16px;
  --typography-desktop-headings-heading-xs-text-decoration: none;
  --typography-desktop-headings-heading-xs-font-family: Inter;
  --typography-desktop-headings-heading-xs-font-weight: 700;
  --typography-desktop-headings-heading-xs-font-style: normal;
  --typography-desktop-headings-heading-xs-font-stretch: normal;
  --typography-desktop-headings-heading-xs-letter-spacing: 0;
  --typography-desktop-headings-heading-xs-line-height: 24px;
  --typography-desktop-headings-heading-xs-paragraph-indent: 0;
  --typography-desktop-headings-heading-xs-paragraph-spacing: 0;
  --typography-desktop-headings-heading-xs-text-case: none;
  --typography-mobile-headings-heading-2xl-font-size: 32px;
  --typography-mobile-headings-heading-2xl-text-decoration: none;
  --typography-mobile-headings-heading-2xl-font-family: Inter;
  --typography-mobile-headings-heading-2xl-font-weight: 700;
  --typography-mobile-headings-heading-2xl-font-style: normal;
  --typography-mobile-headings-heading-2xl-font-stretch: normal;
  --typography-mobile-headings-heading-2xl-letter-spacing: 0;
  --typography-mobile-headings-heading-2xl-line-height: 48px;
  --typography-mobile-headings-heading-2xl-paragraph-indent: 0;
  --typography-mobile-headings-heading-2xl-paragraph-spacing: 0;
  --typography-mobile-headings-heading-2xl-text-case: none;
  --typography-mobile-headings-heading-xl-font-size: 28px;
  --typography-mobile-headings-heading-xl-text-decoration: none;
  --typography-mobile-headings-heading-xl-font-family: Inter;
  --typography-mobile-headings-heading-xl-font-weight: 700;
  --typography-mobile-headings-heading-xl-font-style: normal;
  --typography-mobile-headings-heading-xl-font-stretch: normal;
  --typography-mobile-headings-heading-xl-letter-spacing: 0;
  --typography-mobile-headings-heading-xl-line-height: 42px;
  --typography-mobile-headings-heading-xl-paragraph-indent: 0;
  --typography-mobile-headings-heading-xl-paragraph-spacing: 0;
  --typography-mobile-headings-heading-xl-text-case: none;
  --typography-mobile-headings-heading-lg-font-size: 24px;
  --typography-mobile-headings-heading-lg-text-decoration: none;
  --typography-mobile-headings-heading-lg-font-family: Inter;
  --typography-mobile-headings-heading-lg-font-weight: 700;
  --typography-mobile-headings-heading-lg-font-style: normal;
  --typography-mobile-headings-heading-lg-font-stretch: normal;
  --typography-mobile-headings-heading-lg-letter-spacing: 0;
  --typography-mobile-headings-heading-lg-line-height: 36px;
  --typography-mobile-headings-heading-lg-paragraph-indent: 0;
  --typography-mobile-headings-heading-lg-paragraph-spacing: 0;
  --typography-mobile-headings-heading-lg-text-case: none;
  --typography-mobile-headings-heading-md-font-size: 20px;
  --typography-mobile-headings-heading-md-text-decoration: none;
  --typography-mobile-headings-heading-md-font-family: Inter;
  --typography-mobile-headings-heading-md-font-weight: 700;
  --typography-mobile-headings-heading-md-font-style: normal;
  --typography-mobile-headings-heading-md-font-stretch: normal;
  --typography-mobile-headings-heading-md-letter-spacing: 0;
  --typography-mobile-headings-heading-md-line-height: 30px;
  --typography-mobile-headings-heading-md-paragraph-indent: 0;
  --typography-mobile-headings-heading-md-paragraph-spacing: 0;
  --typography-mobile-headings-heading-md-text-case: none;
  --typography-mobile-headings-heading-sm-font-size: 18px;
  --typography-mobile-headings-heading-sm-text-decoration: none;
  --typography-mobile-headings-heading-sm-font-family: Inter;
  --typography-mobile-headings-heading-sm-font-weight: 700;
  --typography-mobile-headings-heading-sm-font-style: normal;
  --typography-mobile-headings-heading-sm-font-stretch: normal;
  --typography-mobile-headings-heading-sm-letter-spacing: 0;
  --typography-mobile-headings-heading-sm-line-height: 28px;
  --typography-mobile-headings-heading-sm-paragraph-indent: 0;
  --typography-mobile-headings-heading-sm-paragraph-spacing: 0;
  --typography-mobile-headings-heading-sm-text-case: none;
  --typography-mobile-headings-heading-xs-font-size: 16px;
  --typography-mobile-headings-heading-xs-text-decoration: none;
  --typography-mobile-headings-heading-xs-font-family: Inter;
  --typography-mobile-headings-heading-xs-font-weight: 700;
  --typography-mobile-headings-heading-xs-font-style: normal;
  --typography-mobile-headings-heading-xs-font-stretch: normal;
  --typography-mobile-headings-heading-xs-letter-spacing: 0;
  --typography-mobile-headings-heading-xs-line-height: 28px;
  --typography-mobile-headings-heading-xs-paragraph-indent: 0;
  --typography-mobile-headings-heading-xs-paragraph-spacing: 0;
  --typography-mobile-headings-heading-xs-text-case: none;
  --typography-paragraphs-text-lg-regular-font-size: 18px;
  --typography-paragraphs-text-lg-regular-text-decoration: none;
  --typography-paragraphs-text-lg-regular-font-family: Inter;
  --typography-paragraphs-text-lg-regular-font-weight: 400;
  --typography-paragraphs-text-lg-regular-font-style: normal;
  --typography-paragraphs-text-lg-regular-font-stretch: normal;
  --typography-paragraphs-text-lg-regular-letter-spacing: 0;
  --typography-paragraphs-text-lg-regular-line-height: 24px;
  --typography-paragraphs-text-lg-regular-paragraph-indent: 0;
  --typography-paragraphs-text-lg-regular-paragraph-spacing: 0;
  --typography-paragraphs-text-lg-regular-text-case: none;
  --typography-paragraphs-text-lg-bold-font-size: 18px;
  --typography-paragraphs-text-lg-bold-text-decoration: none;
  --typography-paragraphs-text-lg-bold-font-family: Inter;
  --typography-paragraphs-text-lg-bold-font-weight: 700;
  --typography-paragraphs-text-lg-bold-font-style: normal;
  --typography-paragraphs-text-lg-bold-font-stretch: normal;
  --typography-paragraphs-text-lg-bold-letter-spacing: 0;
  --typography-paragraphs-text-lg-bold-line-height: 24px;
  --typography-paragraphs-text-lg-bold-paragraph-indent: 0;
  --typography-paragraphs-text-lg-bold-paragraph-spacing: 0;
  --typography-paragraphs-text-lg-bold-text-case: none;
  --typography-paragraphs-text-md-base-regular-font-size: 16px;
  --typography-paragraphs-text-md-base-regular-text-decoration: none;
  --typography-paragraphs-text-md-base-regular-font-family: Inter;
  --typography-paragraphs-text-md-base-regular-font-weight: 400;
  --typography-paragraphs-text-md-base-regular-font-style: normal;
  --typography-paragraphs-text-md-base-regular-font-stretch: normal;
  --typography-paragraphs-text-md-base-regular-letter-spacing: 0;
  --typography-paragraphs-text-md-base-regular-line-height: 20px;
  --typography-paragraphs-text-md-base-regular-paragraph-indent: 0;
  --typography-paragraphs-text-md-base-regular-paragraph-spacing: 0;
  --typography-paragraphs-text-md-base-regular-text-case: none;
  --typography-paragraphs-text-md-base-bold-font-size: 16px;
  --typography-paragraphs-text-md-base-bold-text-decoration: none;
  --typography-paragraphs-text-md-base-bold-font-family: Inter;
  --typography-paragraphs-text-md-base-bold-font-weight: 700;
  --typography-paragraphs-text-md-base-bold-font-style: normal;
  --typography-paragraphs-text-md-base-bold-font-stretch: normal;
  --typography-paragraphs-text-md-base-bold-letter-spacing: 0;
  --typography-paragraphs-text-md-base-bold-line-height: 20px;
  --typography-paragraphs-text-md-base-bold-paragraph-indent: 0;
  --typography-paragraphs-text-md-base-bold-paragraph-spacing: 0;
  --typography-paragraphs-text-md-base-bold-text-case: none;
  --typography-paragraphs-text-sm-regular-font-size: 14px;
  --typography-paragraphs-text-sm-regular-text-decoration: none;
  --typography-paragraphs-text-sm-regular-font-family: Inter;
  --typography-paragraphs-text-sm-regular-font-weight: 400;
  --typography-paragraphs-text-sm-regular-font-style: normal;
  --typography-paragraphs-text-sm-regular-font-stretch: normal;
  --typography-paragraphs-text-sm-regular-letter-spacing: 0;
  --typography-paragraphs-text-sm-regular-line-height: 18px;
  --typography-paragraphs-text-sm-regular-paragraph-indent: 0;
  --typography-paragraphs-text-sm-regular-paragraph-spacing: 0;
  --typography-paragraphs-text-sm-regular-text-case: none;
  --typography-paragraphs-text-sm-bold-font-size: 14px;
  --typography-paragraphs-text-sm-bold-text-decoration: none;
  --typography-paragraphs-text-sm-bold-font-family: Inter;
  --typography-paragraphs-text-sm-bold-font-weight: 700;
  --typography-paragraphs-text-sm-bold-font-style: normal;
  --typography-paragraphs-text-sm-bold-font-stretch: normal;
  --typography-paragraphs-text-sm-bold-letter-spacing: 0;
  --typography-paragraphs-text-sm-bold-line-height: 18px;
  --typography-paragraphs-text-sm-bold-paragraph-indent: 0;
  --typography-paragraphs-text-sm-bold-paragraph-spacing: 0;
  --typography-paragraphs-text-sm-bold-text-case: none;
  --typography-paragraphs-text-xs-regular-font-size: 12px;
  --typography-paragraphs-text-xs-regular-text-decoration: none;
  --typography-paragraphs-text-xs-regular-font-family: Inter;
  --typography-paragraphs-text-xs-regular-font-weight: 400;
  --typography-paragraphs-text-xs-regular-font-style: normal;
  --typography-paragraphs-text-xs-regular-font-stretch: normal;
  --typography-paragraphs-text-xs-regular-letter-spacing: 0;
  --typography-paragraphs-text-xs-regular-line-height: 16px;
  --typography-paragraphs-text-xs-regular-paragraph-indent: 0;
  --typography-paragraphs-text-xs-regular-paragraph-spacing: 0;
  --typography-paragraphs-text-xs-regular-text-case: none;
  --typography-paragraphs-text-xs-bold-font-size: 12px;
  --typography-paragraphs-text-xs-bold-text-decoration: none;
  --typography-paragraphs-text-xs-bold-font-family: Inter;
  --typography-paragraphs-text-xs-bold-font-weight: 700;
  --typography-paragraphs-text-xs-bold-font-style: normal;
  --typography-paragraphs-text-xs-bold-font-stretch: normal;
  --typography-paragraphs-text-xs-bold-letter-spacing: 0;
  --typography-paragraphs-text-xs-bold-line-height: 16px;
  --typography-paragraphs-text-xs-bold-paragraph-indent: 0;
  --typography-paragraphs-text-xs-bold-paragraph-spacing: 0;
  --typography-paragraphs-text-xs-bold-text-case: none;
  --typography-links-link-lg-regular-font-size: 18px;
  --typography-links-link-lg-regular-text-decoration: underline;
  --typography-links-link-lg-regular-font-family: Inter;
  --typography-links-link-lg-regular-font-weight: 400;
  --typography-links-link-lg-regular-font-style: normal;
  --typography-links-link-lg-regular-font-stretch: normal;
  --typography-links-link-lg-regular-letter-spacing: 0;
  --typography-links-link-lg-regular-line-height: 24px;
  --typography-links-link-lg-regular-paragraph-indent: 0;
  --typography-links-link-lg-regular-paragraph-spacing: 0;
  --typography-links-link-lg-regular-text-case: none;
  --typography-links-link-lg-bold-font-size: 18px;
  --typography-links-link-lg-bold-text-decoration: underline;
  --typography-links-link-lg-bold-font-family: Inter;
  --typography-links-link-lg-bold-font-weight: 700;
  --typography-links-link-lg-bold-font-style: normal;
  --typography-links-link-lg-bold-font-stretch: normal;
  --typography-links-link-lg-bold-letter-spacing: 0;
  --typography-links-link-lg-bold-line-height: 24px;
  --typography-links-link-lg-bold-paragraph-indent: 0;
  --typography-links-link-lg-bold-paragraph-spacing: 0;
  --typography-links-link-lg-bold-text-case: none;
  --typography-links-link-md-regular-font-size: 16px;
  --typography-links-link-md-regular-text-decoration: underline;
  --typography-links-link-md-regular-font-family: Inter;
  --typography-links-link-md-regular-font-weight: 400;
  --typography-links-link-md-regular-font-style: normal;
  --typography-links-link-md-regular-font-stretch: normal;
  --typography-links-link-md-regular-letter-spacing: 0;
  --typography-links-link-md-regular-line-height: 20px;
  --typography-links-link-md-regular-paragraph-indent: 0;
  --typography-links-link-md-regular-paragraph-spacing: 0;
  --typography-links-link-md-regular-text-case: none;
  --typography-links-link-md-bold-font-size: 16px;
  --typography-links-link-md-bold-text-decoration: underline;
  --typography-links-link-md-bold-font-family: Inter;
  --typography-links-link-md-bold-font-weight: 700;
  --typography-links-link-md-bold-font-style: normal;
  --typography-links-link-md-bold-font-stretch: normal;
  --typography-links-link-md-bold-letter-spacing: 0;
  --typography-links-link-md-bold-line-height: 20px;
  --typography-links-link-md-bold-paragraph-indent: 0;
  --typography-links-link-md-bold-paragraph-spacing: 0;
  --typography-links-link-md-bold-text-case: none;
  --typography-links-link-sm-regular-font-size: 14px;
  --typography-links-link-sm-regular-text-decoration: underline;
  --typography-links-link-sm-regular-font-family: Inter;
  --typography-links-link-sm-regular-font-weight: 400;
  --typography-links-link-sm-regular-font-style: normal;
  --typography-links-link-sm-regular-font-stretch: normal;
  --typography-links-link-sm-regular-letter-spacing: 0;
  --typography-links-link-sm-regular-line-height: 18px;
  --typography-links-link-sm-regular-paragraph-indent: 0;
  --typography-links-link-sm-regular-paragraph-spacing: 0;
  --typography-links-link-sm-regular-text-case: none;
  --typography-links-link-sm-bold-font-size: 14px;
  --typography-links-link-sm-bold-text-decoration: underline;
  --typography-links-link-sm-bold-font-family: Inter;
  --typography-links-link-sm-bold-font-weight: 700;
  --typography-links-link-sm-bold-font-style: normal;
  --typography-links-link-sm-bold-font-stretch: normal;
  --typography-links-link-sm-bold-letter-spacing: 0;
  --typography-links-link-sm-bold-line-height: 18px;
  --typography-links-link-sm-bold-paragraph-indent: 0;
  --typography-links-link-sm-bold-paragraph-spacing: 0;
  --typography-links-link-sm-bold-text-case: none;
  --typography-links-link-xs-regular-font-size: 12px;
  --typography-links-link-xs-regular-text-decoration: underline;
  --typography-links-link-xs-regular-font-family: Inter;
  --typography-links-link-xs-regular-font-weight: 400;
  --typography-links-link-xs-regular-font-style: normal;
  --typography-links-link-xs-regular-font-stretch: normal;
  --typography-links-link-xs-regular-letter-spacing: 0;
  --typography-links-link-xs-regular-line-height: 16px;
  --typography-links-link-xs-regular-paragraph-indent: 0;
  --typography-links-link-xs-regular-paragraph-spacing: 0;
  --typography-links-link-xs-regular-text-case: none;
  --typography-links-link-xs-bold-font-size: 12px;
  --typography-links-link-xs-bold-text-decoration: underline;
  --typography-links-link-xs-bold-font-family: Inter;
  --typography-links-link-xs-bold-font-weight: 700;
  --typography-links-link-xs-bold-font-style: normal;
  --typography-links-link-xs-bold-font-stretch: normal;
  --typography-links-link-xs-bold-letter-spacing: 0;
  --typography-links-link-xs-bold-line-height: 16px;
  --typography-links-link-xs-bold-paragraph-indent: 0;
  --typography-links-link-xs-bold-paragraph-spacing: 0;
  --typography-links-link-xs-bold-text-case: none;
}
