.Base {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: {
    left: auto;
    right: auto;
    top: 5%;
  }
  max-width: 1240px;
  width: 90%;

  & > * {
    width: 47%;
  }
}