@font-face {
  font-family: 'SourceSansPro';
  src: url('/assets/fonts/SourceSansPro-Regular.woff2') format('woff2'), url('/assets/fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/assets/fonts/SourceSansPro-Bold.woff2') format('woff2'), url('/assets/fonts/SourceSansPro-Bold.woff') format('woff');
  font-weight: 700;
  font-display: block;
}
